 .my-container {
     max-width: 1200px;
     border: 5px ridge gold;
     /* backdrop-filter: blur(10px); */
     color: black;
 }
 
 .product-image {
     max-width: 200px;
     max-height: 200px;
     position: absolute;
     top: 0px;
     right: 0px;
     padding-bottom: 10px;
 }
 
 .my-bg-card {
     background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
 }
 
 .my-width-100 {
     width: 100px;
 }
 
 body {
     background-image: url("imgs/hatter.png");
 }
 
 .Cim {
     color: white;
     text-align: center;
 }
 
 .kisCim {
     color: white;
 }
 
 .szoveg {
     color: white;
 }