 .my-container {
     max-width: 1200px;
     border: 5px ridge gold;
     /* backdrop-filter: blur(10px); */
     color: black;
 }
 
 .product-image {
     max-width: 300px;
     max-height: 200px;
 }
 
 .my-footer {
     background-color: rgb(60, 60, 60);
     color: gold;
     padding-left: 10px;
     font-size: 20px;
     margin: auto;
     text-align: center;
 }
 
 .my-bg-card {
     background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
 }
 
 .my-width-100 {
     width: 100px;
 }
 
 body {
     background-image: url("imgs/hatter.png");
 }
 
 .Cim {
     color: white;
     text-align: center;
 }
 
 .kisCim {
     color: white;
 }
 
 .szoveg {
     color: white;
 }