.my-container {
    max-width: 1200px;
    border: 5px ridge gold;
    backdrop-filter: blur(10px);
    color: white;
}

.my-width-100 {
    width: 100px;
}

body {
    background-image: url("imgs/hatter.png");
}